.ratio-3\/4 {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (3 / 4) * 100%;
  }
  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
