@tailwind preflight;

body, html {
  height: 100%
}

.bgimg {
  background-image: url(/images/wang-xi-349509.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  .info {
    padding-top: 30px;
  }
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
}

.bottom-center {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

@media (max-width: 744px) {
  .bgimg {
    font-size: 1.2em;
  }
  h1 {
    font-size: 1em;
  }
  .middle {
    font-size: 1em;
  }

  .bottom-center {
    font-size: 1em;
  }
}
@tailwind utilities;