@tailwind preflight;

@import "./event/structure";

.event {
    padding: 0;
    margin: 0;

    section:not(.hero):not(.venue) {
        padding: 2rem 0;
        border-bottom: 0.1rem dashed rgba($blue, 0.25);

        @media all and (max-width: $tablet) {
            padding: 2.5rem 0;
        }
    }

    /*
        Hero
    */
    .hero {
        background-color: $blue;
        padding-bottom: 5rem;

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 3rem;
            padding-top: 2rem;

            svg {
                color: $white;
                fill: $white;
                width: 30%;
            }
        }

        &__intro {
            color: $pink;
            margin: 0;
        }

        &__title {
            color: $white;
            margin: 0 0 1.5rem 0;
            font-size: 2.25rem;
        }

        &__subtitle {
            color: $white;
            margin: 0;
            font-size: 1.35rem;

            span {
                display: block;
                color: $pink;
            }
        }

        &__blurb {
            p {
                font-size: 1.15rem;
                color: $grey;
                margin: 1.5rem 0;
            }
        }

        &__content {
            width: 50%;
            padding-right: 1rem;
        }

        &__aside {
            width: 50%;
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .button {
                align-items: center;
                box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.45);
                color: $white;
                display: flex;
                font-weight: bold;
                justify-content: center;
                margin: 1rem 0;
                padding: 1rem 1.5rem;
                text-align: left;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;

                small, span {
                    flex: 1;
                }

                i {
                    text-align: right;
                }

                &--primary {
                    background-color: $pink;
                    font-size: 1.35rem;

                    &:hover {
                        background-color: darken($pink, 25%);
                    }
                }

                &--secondary {
                    background-color: $grey;
                    font-size: 1rem;

                    // box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.18);

                    &:hover {
                        background-color: darken($grey, 25%);
                    }
                }
            }
        }
    }

    /*
        Newsletter Signup
    */
    .newsletter-signup {
        &__title {
            color: $white;
            margin: 1rem 0;
        }

        &__sting {
            color: $white;
        }
    }

    /*
        About
    */
    .venue {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &__intro {
            font-size: 1.25rem;
            color: $grey;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }

        &__container {
            padding: 2rem 0;

            @media all and (max-width: $tablet) {
                padding: 2.5rem 0;
            }
        }

        &__title {
            color: $blue;
            margin-bottom: 2rem;
            font-size: 2.5rem;

            @media all and (max-width: $tablet) {
                margin-bottom: 1rem;
                font-size: 1.75rem;
            }

            span {
                color: $pink-dark;
            }
        }

        &__content-wrap {
            display: flex;
            flex-wrap: wrap;
        }

        &__content {
            margin-right: 2rem;
            text-align: left;
            width: calc(50% - 2rem);

            p {
                color: #3d4852;
                font-size: 1.15rem;
                margin: 1rem 0;
            }

            @media all and (max-width: $tablet) {
                font-size: 1rem;
            }

            color: $grey;
        }

        &__image {
            width: 50%;
        }

        &__image-slide {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            min-height: 30rem;
        }
    }

    /*
        Form
    */
    .form {
        &__group {
            width: 100%;

            &--has-addon {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;

                .form__input {
                    flex: 1;
                    width: 70%;
                }

                .form__addon {
                    width: 30%;
                }
            }
        }

        &__input {
            display: block;
            margin: 2rem 0;
            padding: 1.5rem;

            @media all and (max-width: $tablet) {
                margin: 1rem 0;
                padding: 0.75rem;
            }

            &:focus, &:hover {
                outline: none;
                border: 0;
            }

            &--has-errors {}
        }

        &__errors {
            background-color: $red;
            color: $white;
            padding: 1rem;
            width: 100%;
        }

        &__message {
            background-color: $pink;
            color: $white;
            padding: 1rem;
            width: 100%;
        }

        &__note {
            background-color: $orange;
            color: $white;
            padding: 1rem;
            width: 100%;
        }

        &__addon {}

        &__submit {
            background-color: $pink-dark;
            color: $white;
            font-size: 1.9rem;
            font-weight: bold;
            padding: 1rem;
            text-align: center;
            transition: all 0.25s ease-in-out;
            width: 100%;

            @media all and (max-width: $tablet) {
                font-size: 1rem;
                padding: 0.75rem;
            }

            &:hover {
                background-color: $pink-darker;
            }
        }
    }

    /*
        Speakers
    */
    .speakers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &__flex-container {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }

        &__title {
            color: $blue;
            font-size: 2.5rem;
            margin-bottom: 2rem;

            @media all and (max-width: $tablet) {
                margin-bottom: 1rem;
                font-size: 1.75rem;
            }
        }
    }

    /*
        Speaker
    */
    .speaker {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33.33%;

        @media all and (max-width: $tablet) {
            width: 100%;
        }

        &__name {
            font-weight: bold;
            font-size: 1.3rem;
            color: $blue;
            margin: 0.5rem 0;
        }

        &__image {
            background-size: cover;
            background-position: center center;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            margin: 2rem 0;
        }

        &__about {
            margin: 0.25rem 0;

            a {
                color: $blue-light;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__meta {
            margin: 0.25rem 0;

            a, i {
                text-decoration: none;
                color: #1da1f2;

                &:hover {
                    text-decoration: underline;
                }
            }

            i {
                font-size: 1.5rem;
            }
        }
    }

    /*
        Sponsors
    */
    .sponsors {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &__container {}

        &__flex-container {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }

        &__title {
            color: $blue;
            margin-bottom: 2rem;
            font-size: 2.5rem;

            @media all and (max-width: $tablet) {
                margin-bottom: 1rem;
                font-size: 1.75rem;
            }
        }

        &__intro {
            font-size: 1.25rem;
            color: $grey;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }
    }

    /*
        Sponsor
    */
    .sponsor {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 2rem;
        width: 33.33%;

        @media all and (max-width: $tablet) {
            width: 100%;
        }

        &__image {
            img {
                width: 100%;
                filter: grayscale(100%);
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        background-color: $blue;
        color: $white;
        padding: 2rem 0;
        font-weight: bold;
    }
}
